.tranCode.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}
.tranCode.body form {
  display: flex;
  justify-content: center;
}
.tranCode.body input {
  margin: 0 0.5rem;
  padding: 0.5rem;
  border: 1px solid #333;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 3rem;
}
.tranCode.body .special {
  margin-top: 2rem;
  font-size: 2rem;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
  i {
    font-size: 1rem;
    cursor: pointer;
  }
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}
